*/node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log


*/.next
*/dist
*/build
*/out

.env
.env.local
.env.*.local

*/.cache
*/.vite
*/turbo
*.tsbuildinfo

*.swp
*.swo
.idea/
.vscode/
*.log

.git
.gitignore

Dockerfile
docker-compose*.yml
